@{
    ViewData["Title"] = "Home Page";
}

<div class="simulation-canvas">
    <div class="node-info">
        <div class="node-number"></div>
        <div class="node-lon"></div>
        <div class="node-lat"></div>
    </div>
    <div class="node-simulation">

    </div>
</div>